<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>student Info</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#">
		<table border="1">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
			<tr th:each="s : ${student}">
				<td th:text="${s.firstname}"></td>
				<td th:text="${s.lastname}"></td>
				<td th:text="${s.email}"></td>
			</tr>
		</table>
	</form>
</body>
</html>